/* style sheet */
html {
  overflow: hidden; }

body {
  background-color: #000000;
  color: #424242;
  font-family: 'proxima-nova', 'Helvetica', 'Arial', sans-serif;
  font-size: 24px;
  padding: 6px;
  overflow: hidden; }
  body #header {
    overflow: hidden;
    margin: auto;
    width: 90%;
    padding: 20px 20px 0px;
    border-bottom: 1px solid #333; }
    body #header .title {
      float: right;
      padding-top: 10px; }
    body #header #team-name {
      font-weight: 400;
      color: #757575;
      margin-right: 21px;
      font-size: 24px;
      letter-spacing: 2px;
      text-transform: uppercase;
      display: inline-block; }
    body #header #build-num {
      display: inline-block;
      text-align: center;
      font-size: 24px;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: 200; }
      body #header #build-num span {
        color: #c2c2c2;
        font-weight: 400; }
    body #header #logo {
      width: 80px;
      height: ls
      
      float: left; }
      body #header #logo img {
        width: 230px;
        height: auto; }
  body #current-cycle {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 90%;
    text-align: center;
    left: 0px;
    right: 0px;
    padding: 80px 10px; }
  body #other-info {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 90%;
    text-align: center;
    left: 0px;
    right: 0px;
    border-top: 1px solid #424242;
    padding-top: 9px; }
    body #other-info .job-container {
      padding-left: 60px; }
    body #other-info span.loading-wheel {
      left: 160px; }
  body #footer {
    border-top: 1px solid #0f0f0f;
    color: #141414;
    padding-top: 6px;
    font-size: 10.8px;
    font-style: italic;
    text-align: right;
    margin: auto;
    width: 90%; }
  body div.job-container {
    width: 160px;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    display: inline-block;
    vertical-align: top; }
    body div.job-container .job-name {
      color: whitesmoke;
      font-size: 16.8px;
      font-weight: 400;
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
      text-transform: uppercase;
      letter-spacing: 2px; }
    body div.job-container .last-ran {
      font-size: 13.2px;
      text-align: center;
      display: block;
      color: #5c5c5c;
      padding-bottom: 6px;
      line-height: 24px;
      margin-top: 10px;
      text-transform: uppercase;
      letter-spacing: 0.5px; }
      body div.job-container .last-ran span {
        color: white;
        display: block; }
      body div.job-container .last-ran .last-run-pass {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -khtml-border-radius: 5px;
        border-radius: 5px;
        color: #ffffff;
        background-color: #486000;
        border: 1px solid #5b7a00;
        font-size: 14.4px;
        font-weight: 600;
        padding: 0 19.2px 0 19.2px;
        line-height: 24px;
        display: block;
        width: 70%;
        margin: auto;
        margin-top: 10px;
        -webkit-animation-name: greenPulse;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite; }
      body div.job-container .last-ran .last-run-fail {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -khtml-border-radius: 5px;
        border-radius: 5px;
        color: #ffffff;
        background-color: #821b0d;
        border: 1px solid #99200f;
        font-size: 14.4px;
        font-weight: 600;
        padding: 0 19.2px 0 19.2px;
        line-height: 24px;
        display: block;
        width: 70%;
        margin: auto;
        margin-top: 10px;
        -webkit-animation-name: redPulse;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite; }
      body div.job-container .last-ran .last-run-aborted {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -khtml-border-radius: 5px;
        border-radius: 5px;
        color: #ffffff;
        background-color: #4d4d4d;
        border: 1px solid #5a5a5a;
        font-size: 14.4px;
        font-weight: 600;
        padding: 0 19.2px 0 19.2px;
        line-height: 24px;
        display: block;
        width: 70%;
        margin: auto;
        margin-top: 10px; }
      body div.job-container .last-ran .last-run- {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -khtml-border-radius: 5px;
        border-radius: 5px;
        color: #ffffff;
        background-color: #292929;
        border: 1px solid #353535;
        font-size: 14.4px;
        font-weight: 600;
        padding: 0 19.2px 0 19.2px;
        line-height: 24px;
        display: block;
        width: 70%;
        margin: auto;
        margin-top: 10px; }
    body div.job-container .test-count {
      position: relative;
      height: 0;
      margin-left: 160px;
      top: -110.0px;
      color: #821b0d;
      font-size: 16.8px;
      text-align: left; }
      body div.job-container .test-count strong {
        font-size: 33.6px;
        font-weight: 600;
        color: #df2f16;
        clear: both;
        display: block; }
    body div.job-container .job-status {
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      -khtml-border-radius: 50%;
      border-radius: 50%;
      background-color: #424242;
      width: 100px;
      height: 100px;
      margin: auto;
      margin-top: 18px;
      margin-bottom: 18px;
      color: white; }
      body div.job-container .job-status .pb-container {
        visibility: hidden; }
      body div.job-container .job-status .time-value {
        font-size: 14.4px;
        text-align: center;
        display: block;
        text-shadow: 1px 1px 1px #000000; }
        body div.job-container .job-status .time-value strong {
          font-size: 38.4px;
          font-weight: 600;
          text-align: center;
          display: block;
          margin-top: 12px; }
    body div.job-container .passed {
      border: 2px solid #7da700;
      background: -webkit-radial-gradient(circle, #a7e000, #486000);
      background: -moz-radial-gradient(circle, #94c600, #486000);
      background: -ms-radial-gradient(circle, #94c600, #486000);
      -moz-box-shadow: 1px 2px 5px -1px black;
      -webkit-box-shadow: 1px 2px 5px -1px #424242;
      box-shadow: 1px 2px 5px -1px #424242; }
    body div.job-container .failed {
      border: 2px solid #c32913;
      background: -webkit-radial-gradient(circle, #e93d25, #821b0d);
      background: -moz-radial-gradient(circle, #df2f16, #821b0d);
      background: -ms-radial-gradient(circle, #df2f16, #821b0d);
      -moz-box-shadow: 1px 2px 5px -1px black;
      -webkit-box-shadow: 1px 2px 5px -1px #424242;
      box-shadow: 1px 2px 5px -1px #424242; }
    body div.job-container .aborted {
      border: 2px solid #717171;
      background: -webkit-radial-gradient(circle, #8d8d8d, #4d4d4d);
      background: -moz-radial-gradient(circle, #808080, #4d4d4d);
      background: -ms-radial-gradient(circle, #808080, #4d4d4d);
      -moz-box-shadow: 1px 2px 5px -1px black;
      -webkit-box-shadow: 1px 2px 5px -1px #424242;
      box-shadow: 1px 2px 5px -1px #424242; }
    body div.job-container .running {
      border: 2px solid #333333;
      background: -webkit-radial-gradient(circle, #4f4f4f, #0f0f0f);
      background: -moz-radial-gradient(circle, #424242, #0f0f0f);
      background: -ms-radial-gradient(circle, #424242, #0f0f0f);
      -moz-box-shadow: 1px 2px 5px -1px black;
      -webkit-box-shadow: 1px 2px 5px -1px #424242;
      box-shadow: 1px 2px 5px -1px #424242;
      border: 1px solid #000000; }
      body div.job-container .running .pb-container {
        visibility: visible;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -khtml-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #686868;
        width: 50px;
        height: 4.8px;
        margin: auto;
        margin-top: 9.6px;
        position: relative;
        top: -130px; }
        body div.job-container .running .pb-container .pb-value {
          background-color: #5c5c5c;
          height: 4.8px; }
      body div.job-container .running p.time-value {
        position: relative;
        top: -124px; }
    body div.job-container div.running:before {
      content: "";
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      -khtml-border-radius: 50%;
      border-radius: 50%;
      position: relative;
      display: block;
      height: 124px;
      width: 124px;
      top: -12px;
      left: -12px;
      background-color: gray;
      border: 1px solid #5c5c5c;
      z-index: -2; }
    body div.job-container span.loading-wheel {
      position: absolute;
      width: 0;
      height: 0;
      left: 80px;
      top: 100px;
      border-left: 100px solid transparent;
      border-top: 50px solid #000000;
      opacity: .6;
      z-index: -1;
      -webkit-animation: spin 6s linear infinite;
      -webkit-transform-origin: 0 0;
      -moz-animation: spin 6s linear infinite;
      -moz-transform-origin: 0 0; }
    body div.job-container .running-time {
      position: relative;
      top: -124px; }
    body div.job-container .waiting {
      border: 2px dotted #424242;
      background-color: #0f0f0f; }
  body .arrow-right {
    display: inline-block;
    margin-top: 100px;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    background-color: #000000;
    border-left: 18px solid #424242; }
  @media (max-width: 600px) {
    body #header {
      padding: 20px 0px; }
      body #header #logo {
        width: 53.3333333333px;
        height: 40px;
        display: inline-block; }
        body #header #logo img {
          width: 30px; }
      body #header .title {
        width: 80%;
        text-align: right;
        padding-top: 0px; }
      body #header #team-name {
        font-size: 14.4px;
        display: inline-block;
        letter-spacing: 0.3px;
        margin-right: 5px; }
      body #header #build-num {
        font-size: 14.4px;
        display: inline-block;
        letter-spacing: 0.3px; }
    body #current-cycle {
      padding: 20px 10px; } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }
@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg); } }
@keyframes greenPulse {
  from {
    background-color: #749a02;
    -webkit-box-shadow: 0 0 9px #333333; }
  50% {
    background-color: #91bd09;
    -webkit-box-shadow: 0 0 18px #91bd09; }
  to {
    background-color: #749a02;
    -webkit-box-shadow: 0 0 9px #333333; } }
@-webkit-keyframes greenPulse {
  from {
    background-color: #749a02;
    -webkit-box-shadow: 0 0 9px #333333; }
  50% {
    background-color: #91bd09;
    -webkit-box-shadow: 0 0 18px #91bd09; }
  to {
    background-color: #749a02;
    -webkit-box-shadow: 0 0 9px #333333; } }
@-moz-keyframes greenPulse {
  from {
    background-color: #749a02;
    -webkit-box-shadow: 0 0 9px #333333; }
  50% {
    background-color: #91bd09;
    -webkit-box-shadow: 0 0 18px #91bd09; }
  to {
    background-color: #749a02;
    -webkit-box-shadow: 0 0 9px #333333; } }
@-ms-keyframes greenPulse {
  from {
    background-color: #749a02;
    -webkit-box-shadow: 0 0 9px #333333; }
  50% {
    background-color: #91bd09;
    -webkit-box-shadow: 0 0 18px #91bd09; }
  to {
    background-color: #749a02;
    -webkit-box-shadow: 0 0 9px #333333; } }
@keyframes redPulse {
  from {
    background-color: #bc330d;
    -webkit-box-shadow: 0 0 9px #333333; }
  50% {
    background-color: #e33100;
    -webkit-box-shadow: 0 0 18px #e33100; }
  to {
    background-color: #bc330d;
    -webkit-box-shadow: 0 0 9px #333333; } }
@-webkit-keyframes redPulse {
  from {
    background-color: #bc330d;
    -webkit-box-shadow: 0 0 9px #333333; }
  50% {
    background-color: #e33100;
    -webkit-box-shadow: 0 0 18px #e33100; }
  to {
    background-color: #bc330d;
    -webkit-box-shadow: 0 0 9px #333333; } }
@-moz-keyframes redPulse {
  from {
    background-color: #bc330d;
    -webkit-box-shadow: 0 0 9px #333333; }
  50% {
    background-color: #e33100;
    -webkit-box-shadow: 0 0 18px #e33100; }
  to {
    background-color: #bc330d;
    -webkit-box-shadow: 0 0 9px #333333; } }
@-ms-keyframes redPulse {
  from {
    background-color: #bc330d;
    -webkit-box-shadow: 0 0 9px #333333; }
  50% {
    background-color: #e33100;
    -webkit-box-shadow: 0 0 18px #e33100; }
  to {
    background-color: #bc330d;
    -webkit-box-shadow: 0 0 9px #333333; } }
